databases:
  - name: shipping_labels
    plan: free
    databaseName: shipping_labels
    user: shipping_labels

services:
  - type: redis
    name: celery-redis
    plan: starter # we choose a plan with persistence to ensure tasks are not lost upon restart
    maxmemoryPolicy: noeviction # recommended policy for queues
    ipAllowList: []

  - type: worker
    name: celery-worker
    runtime: python
    plan: starter
    buildCommand: 'pip install -r requirements.txt'
    startCommand: 'celery --app config worker --loglevel info --concurrency 4'
    autoDeploy: false
    rootDir: backend
    envVars:
      - key: CELERY_BROKER_URL
        fromService:
          name: celery-redis
          type: redis
          property: connectionString

  - type: web
    plan: free
    name: shipping_labels
    runtime: python
    rootDir: backend
    buildCommand: './build.sh'
    startCommand: 'python -m gunicorn config.asgi:application -k uvicorn.workers.UvicornWorker'
    envVars:
      - key: CELERY_RESULT_BACKEND
        fromService:
          name: celery-redis
          type: redis
          property: connectionString
      - key: CELERY_BROKER_URL
        fromService:
          name: celery-redis
          type: redis
          property: connectionString
      - key: DATABASE_URL
        fromDatabase:
          name: shipping_labels
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: GOOGLE_ADDRESS_API_KEY
        sync: false
      - key: SMARTY_AUTH_ID
        sync: false
      - key: SMARTY_AUTH_TOKEN
        sync: false
      - key: DATA_UPLOAD_MAX_MEMORY_SIZE
        value: 10485760
      - key: FILE_UPLOAD_MAX_MEMORY_SIZE
        value: 10485760
      - key: DJANGO_ALLOWED_HOSTS
        value: shipping-labels-khaki.vercel.app
      - key: CORS_ALLOWED_ORIGINS
        value: https://shipping-labels-khaki.vercel.app/
      - key: CORS_ALLOW_CREDENTIALS
        value: 0
      - key: DJANGO_DEBUG
        value: 1
